/* Лого колір тексту #000000 */
/* головний колір тексту #757575 */
/* другорядний коліт тексту #212121 */
/* колір тексту #FFFFFF */
/* колір акценту #2196F3 */
/* головний колір тексту #F5F5F5 */
/* другорядний колір фону #F5F4FA */
/* колір фону футеда */


:root {
    --priamary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-footer-text-color: #FFFFFF;
    --bacground-priamary: #F5F5F5;
    --bacground-color: #F5F4FA;
    --bacground-footer-color: #2F303A;

}

body {
    background-color: var(--bacground-priamary);
    color: var(--priamary-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}

/* Logo */

.logo {
    color: #000000;
}

.logo-span {
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color)
}

.address-link .link {
    color: var(--priamary-text-color);
}

.address-link .link:hover,
.address-link .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    color: var(--hero-footer-text-color);
    background-color: #000000;
}

/* Section */

.section-title {
    color: var(--title-text-color);
}

/* Features */

.feature-list {
    color: var(--priamary-text-color);
}

.feature-list .title {
    color: var(--title-text-color);
}

/* Button */

.button {
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--bacground-color);
}

.button.primary {
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
}

.button-list {}

.button-list:hover,
.button-list:focus {
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color)
}

/* Team */

.team-title {
    color: var(--title-text-color);
}

.team-text {
    color: var(--priamary-text-color);
}

/* Footer */

.footer-link {
    color: var(--hero-footer-text-color);
}

/* Portfolio page styles */

.portfolio-title {
    color: var(--title-text-color);
}

.portfolio-text {
    color: var(--priamary-text-color);
}